<div class="bg-light px-4 py-3 text-uppercase fw-bold">
   Ordem de compra
</div>

<div class="p-4">
    <p class="fst-italic mb-4">Os custos totalizados são os seguintes:</p>
    <ul class="list-unstyled mb-4" *ngIf="(basketService.basketTotalSource$ | async) as totals">
      <li class="d-flex justify-content-between py-3 border-bottom">
          <strong class="text-muted">Compra subtotal</strong>
          <strong>{{ totals.subtotal | currency:"EUR":"symbol" }}</strong>
      </li>
      <li class="d-flex justify-content-between py-3 border-bottom">
          <strong class="text-muted">Shipping</strong>
          <strong>{{ totals.shipping | currency:"EUR":"symbol" }}</strong>
      </li>
      <li class="d-flex justify-content-between py-3 border-bottom">
          <strong class="text-muted">Total</strong>
          <strong>{{ totals.total | currency:"EUR":"symbol" }}</strong>
      </li>
    </ul>
</div>
